@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Encode+Sans+SC:wght@200&display=swap");

html,
body,
div,
section,
h1,
h3,
p,
article,
main,
ul,
li,
footer,
form,
input,
nav,
.navlinks {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Bona Nova", serif;
}

html {
  height: 100%;
  padding: 2rem 0;
}

body {
  height: 100%;
  width: 40%;
  border: 1px solid black;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
}

section {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

button {
  -webkit-box-shadow: 0.2rem 0.2rem;
  box-shadow: 0.2rem 0.2rem;
}

form {
  width: 60%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-bottom: 0.4rem;
}

input {
  margin-bottom: 0.4rem;
}

nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 1px black solid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.4rem;
}

.primary {
  background-color: #d9d9d9;
}

.secondary {
  background-color: white;
}

.navtitle {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navlinks {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.book-form {
  padding: 2rem;
}

.address {
  padding-left: 2rem;
  list-style-type: circle;
}

.address li {
  display: list-item;
}

.books-container {
  border: 2px black solid;
  overflow-y: scroll;
  max-height: 500px;
}

.books-container li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: white;
}

.books-container li:nth-child(odd) {
  background: #d9d9d9;
}

.item-name {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0.4rem;
}

.addBookBtn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-shadow: 0.2rem 0.2rem;
  box-shadow: 0.2rem 0.2rem;
}

.deleteBookBtn {
  margin-right: 0.4rem;
}

.date-time {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0.4rem;
}

.contact-container {
  max-width: 70%;
}

.contact-information {
  padding: 2rem;
}

footer {
  border: 2px solid black;
  padding: 0.4rem;
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
}

footer h3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
